.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card {
    width: 270px;
    height: 350px;
    background-color: #f0f0f0;
    border-radius: 1px;
    margin: 15px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0px 4px 5px blue;
    position: relative; /
  }
  .card:hover {
    background-color: #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }

 
  .card img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-top:30px;
    padding:5px;
  
   
  }

 
  .card-name1 {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: red;
    font-size:20px;
  }

  .card-name2 {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: red;
    font-size:20px;
  }

  .card-name3 {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: red;
    font-size:20px;
  }

  .card-name4 {
 
    color: red;
    font-weight: bold;
    font-size:20px;
     
  }

 
